<h2>Guess a letter</h2>

<% if flash[:message]%>
  <p>
    <span class="error"><%= flash[:message]%></span>
  </p>
<% end %>

<p>
  Wrong Guesses:
  <span class="guesses"><%=flash[:wrong_guesses] %></span>
  
</p>

<p>
  Word so far:
  <span class="word"><%= flash[:word_with_guesses] %></span>
</p>

<% if session[:game] %>
<form action="/guess" method="post">
  <input type="text" size="1" name="guess" autocomplete="off"/>
  <input type="submit" value="Guess!"/>
</form>
<% end %>


<%= erb :new %>
